[submodule "third_party/caffe2"]
	path = third_party/caffe2
	url = https://github.com/caffe2/caffe2.git
[submodule "third_party/opendcd"]
	path = third_party/opendcd
	url = https://github.com/opendcd/opendcd.git
[submodule "third_party/kaldi/kaldi"]
	path = third_party/kaldi/kaldi
	url = https://github.com/kaldi-asr/kaldi.git
[submodule "third_party/tensorflow"]
	path = third_party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
